body{
    font-family: 'Mukta', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
/* NAVBAR 1 */
.nav1{
    
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    height: 65px;
    
}
.nav1::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 65px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 1;
}
.navbar1{
    display: flex;
    
}
.nav1 .navbar1 h1{
    font-size: 2rem;
    padding-bottom: 35px;
    margin-top: 13px;
}
.navbar1 img{
    
    width: 100px;
    height: 60px;
}
.navbar1Right{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.navbar1Right p a{
    color: white;
}
.navbar1Right p a:hover{
    color: #30e3ca;
    transition: 0.3s;
    transform: scale(1.1);
}





.nav2Home{
    display: grid;
    grid-template-rows:  100px 600px ;
}
.navbar2{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: 0px 200px;
    height: 80px;
    margin-top: 20px;
    

}
.navbar2::before{
    border-radius: 5px;
    content: "";
    background-color:  rgb(0 0 0);
    position: absolute;
    height: 80px;
    width: 80%;
    /* top: 0px;
    left: 0px; */
    z-index: -1;
    opacity: 0.5;
}
.nav2left{
    width: 139px;
    font-size: 1rem;
    /* padding-right: 130px; */
}
.nav2left span{
    color: #30e3ca;
}
.navnavbar2-1 ul{
    display: flex;
    
    
}
.navnavbar2-2 ul{
    display: flex;
}
.navnavbar2-1 ul{
    text-decoration: none;
}
.navnavbar2-1 li{
    margin: 0px 20px;
    list-style: none;
}
.navnavbar2-1 li a{
    
    padding: 6px;
    border-radius: 8px;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}
.navnavbar2-1 li a:hover{
    transition: 0.5s;
    background-color: #30e3ca;
}
.navnavbar2-2 li{
    list-style: none;
}
.navnavbar2-2 li a{
    
    padding: 6px;
    border-radius: 8px;
    color: black;
    font-size: 1.2rem;
    margin: 0px 20px;
    text-decoration: none;
}
.navnavbar2-2 li a:hover{
    transition: 0.5s;
    background-color: #30e3ca;
}
.navbar2Btn{
    cursor: pointer;
    padding: 10px;
    width: 140px;
    background-color: #30e3ca;
    border-radius: 5px;
    border: none;
}
.navbar2Btn:hover{
    color: #28e658;
    background-color: white;
    transition: 0.3s;
    transform: scale(1.1);
}


/* HOME_________//// */

.home{
    text-align: center;
    font-size: 1.7rem;
}
.home::before{
    border-radius: 5px;
    content: "";
    background:url('p3bg img.webp') repeat center center/cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.3;
}
.homeHeading{
    font-size: 4rem;
    margin-top: 130px;
    margin-bottom: -20px;
}
.home p{
   margin-top: 1px;
   margin-bottom: 45px;
}
.homeForm{
    margin: 0px 200px;
    padding: 20px 0px;
}
.homeForm::before{
    border-radius: 5px;
    content: "";
    background-color: rgb(116 116 116);
    position: absolute;
    height: 91px;
    width: 77%;
    margin: -20px -32px;
    z-index: -1;
    opacity: 0.5;
}
.homeForm input{
    border: none;
    margin: 3px 6px;
    padding: 11px;
    width: 20%;
    border-radius: 5px;
    
}
#search{
    width: 28%;
}
.homebtn{
    cursor: pointer;
    padding: 10px;
    width: 140px;
    background-color: #30e3ca;
    border-radius: 5px;
    border: none;
}
.homebtn:hover{
    color: #30e3ca;
    background-color: white;
    transition: 0.3s;
    transform: scale(1.1);

}




/* Boxes---------------------------------- */

.boxes{
    display: flex;
    justify-content: center;
    margin: 0px 189px;
}
.boxes::before{
    border-radius: 5px;
    content: "";
    background-color:  white;
    box-shadow: 2px 2px 5px;
    position: absolute;
    height: 150px;
    width: 75%;
    /* top: 0px;
    left: 0px; */
    z-index: -1;
    opacity: 0.5;
}
.box{
    padding-top: 10px;
    border-radius: 5px;
    width: 200px;
    height: 150px;
    text-align: center;
}
.box:hover{
    filter: invert();
    background-color:#d32e2e;
    transition: 0.4s;
    transform: scale(1,1.1);
}
.box img{
    padding: 4px;
    width: 50px;
    height: 40px;
}




/* boxes 2-------------- */


.boxes2Heading{
    /* border: 2px solid red; */
    margin: 10px 220px;
}
.boxes2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{

    margin: 3px;
    width: 250px;
    height: 350px;
    background-color: white;
    box-shadow: 3px 3px 20px #30e3ca ;
}
.box2 img{
    width: 250px;
    height: 50%;
}
.box2 p{
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    margin-right: 140px;
    background-color: #30e3ca;
    padding: 1px;
    margin-left: 15px;
    font-size: 1.1rem;
    color: white;
}
.box2 i{
    cursor: pointer;
    border-radius: 20px;
    padding: 4px;
    margin-top: -51px;
    float: right;
}
.box2 i:hover{
    transition: 0.3s;
    filter: invert();
    background-color: #30e3ca;
}